pygments==2.7.4
sphinx_rtd_theme
sphinxcontrib-bibtex<2.0.0
jupyter-sphinx
gym
git+https://github.com/Farama-Foundation/gym-robotics@main
numpy
pygame
matplotlib
pandas

# =========
# Optionals
# =========
pytest
scipy
